name: Build & Test under Ubuntu

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.15
      uses: actions/setup-go@v2
      with:
        go-version: ^1.15

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    
    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Trying to find dependency folder
      run: |
        ls $( go env GOROOT )

    - name: Test
      run: go test -v ./tests/

    - name: Build for linux
      run: |
        GOOS=linux GOARCH=amd64 go build -o "./bin/go-radio-$GITHUB_SHA-linux-amd64" .
        GOOS=linux GOARCH=386 go build -o "./bin/go-radio-$GITHUB_SHA-linux-386" .
        GOOS=linux GOARCH=arm go build -o "./bin/go-radio-$GITHUB_SHA-linux-arm" .

    - name: Upload amd64 build
      uses: actions/upload-artifact@v2
      with:
        name: ${{ github.sha }} for linux amd64
        path: ${{ github.workspace }}/bin/go-radio-${{ github.sha }}-linux-amd64

    - name: Upload 386 build
      uses: actions/upload-artifact@v2
      with:
        name: ${{ github.sha }} for linux 386
        path: ${{ github.workspace }}/bin/go-radio-${{ github.sha }}-linux-386

    - name: Upload arm build
      uses: actions/upload-artifact@v2
      with:
        name: ${{ github.sha }} for linux arm
        path: ${{ github.workspace }}/bin/go-radio-${{ github.sha }}-linux-arm
